
@font-face {

    src : url("../font/GodoB.ttf"); 
    
    font-family: "GodoM";
    
    }

body,h1,h2,h3,h4,h5,h6,p{
    font-family:"GodoM"
    }

#list_header {
        width: 100%;
        text-align: center;

      

        }